.image{
        display: flex;
        /* Make the list a flex container */
        flex-direction: row;
        flex-wrap: wrap;    
        
}
.image li{
    list-style: none;
        margin: 5px;
}
